{
  "extends": [
  	"airbnb"
  ],
  "env": {
    "browser": 1
  },
  "globals": {
    "pmAnimatedBannersConfig": true,
    "createjs": true,
    "stage": true,
    "sendCampaignInstanceTrackingEvent": true,
    "templateData": true,
    "lib": true
  },
  "rules": {
    "no-underscore-dangle": 0
  }
}